/* @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Thin.ttf");
    font-weight: 300;
    font-style: normal;
} */

@font-face {
    font-family: "bricolage";
    src: url("/fonts/BricolageGrotesque-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "bricolage";
    src: url("/fonts/BricolageGrotesque-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "bricolage";
    src: url("/fonts/BricolageGrotesque-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "bricolage";
    src: url("/fonts/BricolageGrotesque-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "bricolage";
    src: url("/fonts/BricolageGrotesque-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "bricolage";
    src: url("/fonts/BricolageGrotesque-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
